# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors
Shawn M Moore <code@sartak.org> Shawn M Moore <sartak@bestpractical.com>
Shawn M Moore <code@sartak.org> Shawn M Moore <sartak@gmail.com>
Stevan Little <stevan.little@iinteractive.com> Stevan Little <stevan@localhost.(none)>
Tokuhiro Matsuno <tokuhirom@gmail.com> tokuhirom <tokuhirom@gmail.com>
藤 吾郎 (Fuji Goro) <gfuji@cpan.org> gfx <gfuji@cpan.org>
